/* RESET */
@font-face {
  font-family: "SVN Retron 2000";
  src: url("../../assets/SVN-Retron-2000.otf") format("opentype");
}

* {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 1.5rem;
  font-family: "SVN Retron 2000", "Bangers", "Comic Neue", cursive, sans-serif;
  box-sizing: border-box;
}
/* VARIABLES */
:root {
  --primary-clr: #f15f29;
  --secondary-clr: #f8dc31;
  --accent-clr: #89110f;
  --text-title: linear-gradient(
    0deg,
    var(--secondary-clr) 29%,
    var(--primary-clr) 70%
  );
}

/* BASE */
body {
  overflow: hidden;
  background: #050d20;
}

#game-canvas {
  width: 100vw;
  height: 100vh;
}
.text--gradient {
  background: var(--text-title);
  background-repeat: repeat-y;
  background-size: 100% 50%;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  text-transform: uppercase;
  font-weight: 700;
}
.text--glow {
  filter: drop-shadow(0 0 8px var(--accent-clr))
    drop-shadow(0 0 14px var(--accent-clr))
    drop-shadow(0 0 20px var(--accent-clr));
}
.text-lg {
  font-size: 2rem;
}
.text-xl {
  font-size: 4rem;
}
.text-2xl {
  font-size: 6rem;
}
.text--white {
  color: #fff;
}
.text--center {
  text-align: center;
}

/* MAIN */
#reset-btn {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 99;
}

#scoreboard-btn {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 99;
}
.banner-container {
  position: relative;
}

.top-banner {
  position: absolute;
  inset: 0.5rem 6rem 0;
  z-index: 99;
}

.top-banner-background {
  width: 100%;
  height: 14rem;
  max-height: 14rem;
}

.top-banner-text {
  position: absolute;
  inset: 0;
  font-size: 4rem;
  color: #fff;
  text-align: center;
  padding: 0.5rem 2rem 3.5rem 0.5rem;
}

.content-container {
  position: absolute;
  inset: 10rem 4rem 6rem;
  background-color: #fff;
  border: 0.5rem solid #000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  color: #333;
  text-align: center;
}

.bottom-banner {
  position: absolute;
  bottom: 0;
  left: 15rem;
  right: 15rem;
  z-index: 99;
}

.bottom-banner-background {
  width: 100%;
  max-height: 10rem;
}

.bottom-banner-text {
  position: absolute;
  inset: 8px 32px 16px;
  font-size: 2rem;
}

.action-btn {
  position: absolute;
  bottom: 1rem;
  width: 10rem;
  z-index: 99;
  transition: all ease 300ms;
}

.action-btn:hover {
  transform: scale(1.05);
}

/* Icons left/right */
.icon-left {
  left: 1.5rem;
}

.icon-right {
  right: 1.5rem;
}

/* CARD SLIDE STYLES */
.card-slide-container {
  padding: 4rem 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
}
.card-container {
  position: relative;
  width: 50%;
  height: 540px;
}

/* REVEAL RARE CARD STYLES*/
.card-container--rare::before {
  content: "";
  position: absolute;
  inset: -10rem -14rem;
  background: url("../../assets/glow.png") center / 140% no-repeat;
  z-index: -100;

  animation: spin-glow 10s linear infinite;
}
@keyframes spin-glow {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.card__image {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: contain;
  cursor: pointer;
}
.card__image--back {
  z-index: 50;
}
.card__image--rare {
  transform: rotateY(90deg);
}
.card__image--hide {
  animation: hide-card 0.75s forwards;
}
.card__image--hide + .card__image--rare {
  animation: reveal-rare-card 0.75s forwards 0.75s;
}
@keyframes hide-card {
  to {
    transform: rotateY(90deg);
  }
}
@keyframes reveal-rare-card {
  to {
    transform: rotateY(0deg);
  }
}
/* QUESTIONS MENU STYLES */
.question-container {
  width: 90%;
  height: 70%;
  margin: 0px auto;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 1rem;
  margin-top: 2rem;
  padding: 1rem;
  overflow: auto;
}
.question-item {
  height: 7rem;
  align-self: center;
  background-color: #333;
  border: #000 0.3rem solid;
  border-radius: 1rem;
  color: #fff;
  text-align: center;
  box-shadow: 0px 0.5rem rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: all ease 300ms;
}
.question-item:hover {
  transform: scale(1.05);
  box-shadow: 0px 0.7rem rgba(0, 0, 0, 0.5);
}
.question-item--last-completed {
  animation: hidden-question-item 0.5s forwards;
  user-select: none;
}
@keyframes hidden-question-item {
  to {
    transform: scale(0);
  }
}

/* SLIDE CARD STYLES */
.card__image--slided {
  animation: slide-card 0.5s forwards;
}
@keyframes slide-card {
  to {
    transform: translateX(-150%);
    opacity: 0;
  }
}

/* HUY 22/11/25 STYLES */
.screen,
#correct-answer,
#new-question-correct-answer {
  display: none;
  animation: fadeIn 0.3s ease;
}
.question-item--completed {
  transform: scale(0);
}

.screen.active,
#correct-answer.active,
#new-question-correct-answer.active{
  display: block;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* NEW QUESTION SCREEN */
#new-question-screen {
  height: 100%;
}

.new-question {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.new-question__header {
  color: #ffffff;
  background: #050d20;
  border-bottom: 2px solid var(--secondary-clr);
  display: flex;
  align-items: center;
  padding: 1rem 5rem;
  flex-basis: 10%;
}

.turn-order__list {
  display: flex;
  gap: 1rem;
  flex-basis: 70%;
}

.turn-order__list > * {
  font-size: 2rem;
}

.turn-order__slot {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  background: #162133;      
  border: 2px solid #363e51;
  filter: brightness(0.5);
}

.turn-order__slot--active {
  filter: brightness(1);
  background: #89110f;
  border-color: var(--secondary-clr);
  transform: scale(1.1);
}


.current-turn {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  flex: auto;
}

.current-turn__team {
  font-size: 2rem;
}

.new-question__layout {
  flex: 1;
  display: flex;
  gap: 4rem;
}

.new-question__sidebar {
  flex-basis: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0 1rem;
}

.new-question__sidebar > * {
  flex: 1;
}

.new-question__sidebar .team {
  max-height: 5rem;
  position: relative;
  color: #ffffff;
  border-radius: 0.25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  font-size: 2rem;
}

.new-question__sidebar--right .team {
  flex-direction: row-reverse;
}

.new-question__sidebar .team__name,
.new-question__sidebar .team__score {
  font-size: inherit;
}

.new-question__sidebar .team {
  background: #162133;
  border: 2px solid #363e51;
  box-shadow: 0 0.25rem 0 0.25rem rgba(0, 0, 0, 0.5);
  z-index: -1;
  transition: all 300ms ease;
}

.new-question__sidebar .team.team--active {
  background: var(--accent-clr);
  border-color: var(--secondary-clr);
  transform: scale(1.03);
}

.new-question__main {
  flex: auto;
  display: flex;
  flex-direction: column;
}

.question-card {
  flex: 1;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.question-card > * {
  flex: 1;
}
#new-question-content {
  color: #fff;
  background: #162133;
  border: var(--secondary-clr) 0.3rem solid;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

#new-question-list-answers {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 1rem;
}

.answer-item {
  color: #fff;
  flex-basis: 50%;
  background: #162133;
  border: 2px solid #363e51;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}

.answer-item:nth-child(1) {
  grid-row-start: 1;
}

.answer-item:nth-child(2) {
  grid-row-start: 1;
}

.answer-item:nth-child(3) {
  grid-row-start: 2;
}

.answer-item:nth-child(4) {
  grid-row-start: 2;
}

.question-actions .action-btn {
  position: relative;
  bottom: 0;
}
.turn-order__slot--bombed,
.team.team--bombed{
  background-image: 
    linear-gradient(to bottom right, 
      transparent calc(50% - 1px),
      var(--secondary-clr) calc(50% - 1px), 
      var(--secondary-clr) calc(50% + 1px), 
      transparent calc(50% + 1px)),
    linear-gradient(to top right, 
      transparent calc(50% - 1px), 
      var(--secondary-clr) calc(50% - 1px),
      var(--secondary-clr) calc(50% + 1px), 
      transparent calc(50% + 1px));
}