/* RESET */
* {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: "Comic Neue", cursive, sans-serif;
}

/* BASE */
body {
  overflow: hidden;
  background: url("../assets/game_background.png") center/cover no-repeat;
}

#game-canvas {
  width: 100vw;
  height: 100vh;
}

/* MAIN */
.banner-container {
  position: relative;
}

.top-banner {
  position: absolute;
  inset: 4rem 6rem 0;
  z-index: 99;
}

.top-banner-background {
  width: 100%;
  max-height: 10rem;
}

.top-banner-text {
  position: absolute;
  inset: 0;
  font-size: 4rem;
  color: #fff;
  text-align: center;
  padding: 2rem 0;
}

.content-container {
  position: absolute;
  inset: 10rem 4rem 6rem;
  background-color: #fff;
  border: 0.5rem solid #000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  color: #333;
  text-align: center;
}

.bottom-banner {
  position: absolute;
  bottom: 0;
  left: 15rem;
  right: 15rem;
  z-index: 99;
}

.bottom-banner-background {
  width: 100%;
  max-height: 10rem;
}

.bottom-banner-text {
  position: absolute;
  inset: 0;
  font-size: 4rem;
  background: linear-gradient(
    to bottom,
    #fffc00 0%,
    #ffab00 30%,
    #ff5500 55%,
    #ff2200 80%,
    #cc0000 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  text-align: center;
  padding: 1rem 0;
}

.action-btn {
  position: absolute;
  bottom: 1rem;
  width: 10rem;
  z-index: 99;
  transition: all ease 300ms;
}

.action-btn:hover {
  transform: scale(1.05);
}

/* Icons left/right */
.icon-left {
  left: 1.5rem;
}

.icon-right {
  right: 1.5rem;
}
